@charset "utf-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }
p.a{
			font-family:frijole;
			font-size: 20px;
			color:skyblue;
}
p.b{
	font-family:Georgia;
	font-size: 18px;
	color:#050202;
}
p.c{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 20px;
	color:#0A0909;
}
hr.a{
	 border: 1px solid gray;
}
div.i{
  			 float: left;
  			width: 30%;
  			padding: 2%;
}
li.a{
	margin-left: 50px;
	color:black;
	font-size: 17px;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif" ;
}
h12 {
text-shadow: 0px -2px 0px blACK,
0px 2px 3px black;
	color: black;
	font-size: 30px;
}
h10{
	font-family: "fredericka-the-great";
	font-size:30px;
}
h9{
	color:black;
	font-size: 40px;
}
h11{text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
	color:black;
}
#myDIV {
 float: right;
font-family:Arial;
text-align: left;
padding:2%;
background-color: white;
 color: black;
 -webkit-animation: action 5s infinite; /* Safari 4.0 - 8.0 */
 animation: action 5s infinite;
}
img.resize {
  			max-width:81%;
 			 max-height:81%;
		}
.bg-pattern3 {
  position: relative;
  z-index: 2; }
 .bg-pattern3::after {
background:
radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
background-size: 40px 60px;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1; }
.bg-pattern4 {
  position: relative;
  z-index: 2; }
 .bg-pattern4::after {
background-color: #fff;
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1; }
/* Safari 4.0 - 8.0 */
@-webkit-keyframes action {
  50% {box-shadow: 10px 20px 30px black;}
}

@keyframes action {
  50% {box-shadow: 10px 20px 30px black;}
}
/* Create three equal columns that floats next to each other */
.column {
  float: right;
  width: 50%;
  padding-left: 105px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
.firstsection{
background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.mycontainer,.mypanel{
	padding:0.01em 16px;
}
.mypanel{
	margin-top:16px;margin-bottom:16px;
}
.mycard-4,.myhover-shadow:hover{
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
.mycontent,.myauto{
	margin-left:auto;margin-right:auto
}
.mycontent{
	max-width:980px
}
.myauto{
	max-width:1140px
}
.myred,.myhover-red:hover{
	color:#fff!important;background-color:#f44336!important
}
.myyellow,.myhover-yellow:hover{
	color:#000!important;background-color:#ffeb3b!important
}
.mypadding-16{padding-top:16px!important;padding-bottom:16px!important}.mypadding-24{padding-top:24px!important;padding-bottom:24px!important}
.mypadding-32{padding-top:32px!important;padding-bottom:32px!important}.mypadding-48{padding-top:48px!important;padding-bottom:48px!important}
.mypadding-64{padding-top:64px!important;padding-bottom:64px!important}
.myborder {
    border-width:5px;  
    border-style:inset;
}
a.mylink:link {
  color: red;
}

/* visited link */
a.mylink:visited {
  color: green;
}

/* mouse over link */
a.mylink:hover {
  color: hotpink;
}

/* selected link */
a.mylink:active {
  color: blue;
}
#mySidenav a {
  position:fixed;
  left: -10px;
  transition: 0.3s;
  padding: 15px;
  width: 90px;
  text-decoration: none;
  font-size: 10px;
  color: white;
  border-radius: 0 5px 5px 0;
	z-index:10;
}

#mySidenav a:hover {
  left: 0;
}
#why {
  top: 140px;
  background-color:cadetblue;
}
#test {
  top: 190px;
  background-color: #4CAF50;
}

#photo {
  top: 240px;
  background-color: #2196F3;
}

#faqs {
  top: 290px;
  background-color: #f44336;
}

#host {
  top: 340px;
  background-color: #555
}
.mycolumn {
  float: left;
  padding: 10px;
}

/* Left and right column */
.mycolumn.side {
  width: 10%;
}

/* Middle column */
.mycolumn.middle {
  width: 90%;
}

/* Clear floats after the columns */
.myrow:after {
  content: "";
  display: table;
  clear: both;
	
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .mycolumn.side, .mycolumn.middle {
    width: 100%;
  }
}